<div
  x-show="showToppingsModal"
  class="fixed z-20 inset-0 flex items-center justify-center bg-black bg-opacity-70 p-4"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="opacity-0 scale-90"
  x-transition:enter-end="opacity-100 scale-100"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-start="opacity-100 scale-100"
  x-transition:leave-end="opacity-0 scale-90"
>
  <div
    class="bg-[#12091A] border border-gray-700 p-6 rounded-xl shadow-lg max-w-sm w-full"
  >
    <h2
      class="text-xl font-bold text-gray-300 text-center"
      x-text="selectedBobaType"
    ></h2>
    <!-- Size Selection -->
    <div class="mt-4 text-sm space-y-3">
      <label class="block text-gray-300">Size</label>
      <select
        x-model="selectedBobaSize"
        class="w-full p-3 bg-[#1C1C1E] text-gray-300 border border-gray-600 rounded-lg shadow-sm focus:ring-2 focus:ring-[#007AFF] focus:outline-none transition"
        @change="selectedBobaSize === 'Medium' ? disableToppings = true : disableToppings = false"
      >
        <option value="Large">Large</option>
        <option value="Medium">Medium (No Toppings)</option>
      </select>
    </div>
    <!-- Toppings Selection -->
    <div class="mt-4 text-sm space-y-3">
      <label class="block text-gray-300">Toppings</label>
      <select
        x-model="selectedBobaTopping"
        class="w-full p-3 bg-[#1C1C1E] text-gray-300 border border-gray-600 rounded-lg shadow-sm focus:ring-2 focus:ring-[#007AFF] focus:outline-none transition"
        :disabled="selectedBobaSize === 'Medium'"
      >
        <option value="No Toppings">No Toppings</option>
        <option value="Chocolate">Chocolate</option>
        <option value="Sweetened Choco">Sweetened Choco</option>
        <option value="Vanilla">Vanilla</option>
        <option value="Cheese Foam">Cheese Foam</option>
        <option value="Strawberry Popping">Strawberry Popping</option>
        <option value="Blueberry Popping">Blueberry Popping</option>
        <option value="Mint Popping">Mint Popping</option>
        <option value="Whipped Cream">Whipped Cream</option>
        <option value="Biscoff Spread">Biscoff Spread</option>
        <option value="Caramel Syrup">Caramel Syrup</option>
        <option value="Grape Popping">Grape Popping</option>
      </select>
    </div>
    <!-- Multiplier Selection -->
    <div class="mt-4 text-sm space-y-3">
      <label class="block text-gray-300">Quantity</label>
      <div class="flex items-center space-x-3">
        <button
          type="button"
          class="bg-gray-600 text-white px-3 py-1 rounded-lg"
          @click="selectedBobaQuantity = Math.max(1, selectedBobaQuantity - 1)"
        >
          -
        </button>
        <span x-text="selectedBobaQuantity" class="text-gray-300"></span>
        <button
          type="button"
          class="bg-gray-600 text-white px-3 py-1 rounded-lg"
          @click="selectedBobaQuantity++"
        >
          +
        </button>
      </div>
    </div>
    <p class="text-left mt-4 text-xs text-gray-500">
      Note: Extra toppings can be added at a fee in the special requests
      section.
    </p>
    <div class="text-center mt-4">
      <button
        class="bg-purple-950 text-white p-3 rounded-lg w-full hover:bg-[#2B163B] focus:ring-2 focus:outline-none focus:ring-purple-600 transition"
        @click="addToppings()"
      >
        Add
      </button>
      <button
        class="border-2 border-gray-600 text-gray-300 p-3 rounded-lg w-full hover:bg-gray-800 mt-2 hover:text-white focus:ring-2 focus:outline-none focus:ring-gray-500 transition"
        @click="showToppingsModal = false"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
