{% extends "base.html" %} {% block content %}
<form action="/" method="POST" id="order-form">
    <!-- HQ Special Section -->
  <div class="mt-4 text-sm">
    <h2 class="text-lg font-semibold">HQ Special</h2>
    <div
      class="grid {% if hq_special_items|length == 1 %}grid-cols-1{% else %}grid-cols-2{% endif %} gap-4 mt-4 text-white"
    >
      {% for special in hq_special_items %}
      <button
        type="button"
        class="h-20 p-4 text-lg rounded-lg font-bold bg-cover bg-center bg-purple-900"
        style="background-image: url('{{ special.image }}');"
        onclick="selectSpecialType('{{ special.name }}')"
      >
        <p class="z-10 text-white brightness-100">{{ special.name }}</p>
      </button>
      {% endfor %}
    </div>
  </div>
  <div class="mt-4">
    <div class="flex justify-between items-center">
      <h2 class="text-lg text-white font-semibold">Milk Tea</h2>
      <div class="text-purple-500 flex items-center gap-2">
        <p>scroll</p>
        <i class="fa-solid fa-arrow-right pr-5 bounce-side"></i>
      </div>
    </div>
    <div class="overflow-x-auto whitespace-nowrap flex gap-4 mt-4">
      <div class="grid grid-flow-col grid-rows-3 gap-2">
        <!-- {% for boba in boba_items %}
        <div 
  class="w-64 h-64 bg-cover bg-top rounded-lg"
  style="background-image: url('{{boba.image}}');"
>
</div>
{% endfor %} -->

        <!-- Boba Items -->
        {% for boba in boba_items %}
        <div
          class="relative text-white p-6 rounded-lg shadow-lg text-center cursor-pointer w-48"
          x-bind:class="{ 'border-green-500': selectedBobaType === '{{ boba.name }}' }"
          @click="selectBobaType('{{ boba.name }}')"
        >
          <!-- Background Layer -->
          <div class="absolute inset-0 bg-[#161618] rounded-lg"></div>
          <div
            class="absolute inset-0 bg-cover bg-top rounded-lg"
            style="background-image: url('{{ boba.image }}');"
          ></div>

          <div class="relative z-10">
            <p class="font-bold">{{ boba.name }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Ice Tea Section -->
  <div class="mt-4 text-sm">
    <h2 class="text-lg font-semibold">Ice Tea</h2>
    <div
      class="grid {% if ice_tea_items|length == 1 %}grid-cols-1{% else %}grid-cols-2{% endif %} gap-4 mt-4 text-white"
    >
      {% for ice_tea in ice_tea_items %}
      <button
        type="button"
        class="h-20 p-4 text-lg rounded-lg font-bold bg-cover bg-center"
        style="background-image: url('{{ ice_tea.image }}');"
        onclick="selectIceTeaType('{{ ice_tea.name }}')"
      >
        <p class="z-10 text-white brightness-100">{{ ice_tea.name }}</p>
      </button>
      {% endfor %}
    </div>
  </div>

  <!-- Shawarma Section -->
  <div class="mt-4 text-sm">
    <h2 class="text-lg font-semibold">Shawarma</h2>
    <div class="grid grid-cols-2 gap-4 mt-4 text-white">
      {% for shawarma in shawarma_items %}
      <button
        type="button"
        class="h-20 p-4 text-lg rounded-lg font-bold bg-cover bg-center"
        style="background-image: url('{{ shawarma.image }}');"
        onclick="selectShawarmaType('{{ shawarma.name }}')"
      >
        <p class="z-10 text-white brightness-100">{{ shawarma.name }}</p>
      </button>
      {% endfor %}
    </div>
  </div>



  <input
    type="hidden"
    name="payment_method"
    id="payment_method"
    value="hubtel"
  />

  <!-- Cart and Form -->
  {% include 'partials/cart.html' %}
</form>
{% endblock %}
